body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 70%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
  }
  
  header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #323b4c;
    margin-bottom: 15px;
  }
  
  h1 {
    color: #323b4c;
    margin: 0;
    font-size: 2.5em;
  }
  
  h2 {
    color: #323b4c;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
  }
  
  section {
    margin-bottom: 25px;
  }
  
  .button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s;  
  }

  .button-dark_blue {
    background-color: #323b4c;
  }
  
  .button-dark_blue:hover {
    background-color: #06080a;
  }

  .button-blue {
    background-color: #50648b;
  }

  .button-blue:hover {
    background-color: #1f2738;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .formation {
    margin: 30px 0;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f9f9f9;
    border-left: 5px solid #323b4c;
    border-radius: 10px;
  }
  
  .formation-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  
  .formation-text {
    flex: 1;
  }
  
  .formation-date {
    font-weight: bold;
    font-size: 1.3em;
    color: #737373;
    margin-bottom: 5px;
  }
  
  .formation-title {
    font-size: 1.9em;
    font-weight: bold;
    margin: 5px 0;
    color: #50648b;
  }
  
  .formation-location {
    font-size: 1.9em;
    color: #50648b;
  }

  .formation-detail {
    font-weight: bold;
    margin: 5px 0;
    color: #323b4c;
  }
  
  .formation-description {
    margin-top: 10px;
    color: #333;
  }
  
  .formation-image img {
    width: 300px;
    height: auto;
    object-fit: contain;
  }

  .formation-title-row {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }

  
  .project {
    display: block;
    flex-direction: row;
    background-color: #f4f4f4;
    border-left: 5px solid #50648b;
    padding: 20px;
    padding-top: 5px;
    border-radius: 10px;
    margin: 20px 0;
    flex-wrap: wrap;
  }
  
  .media img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .media iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .project-content {
    flex: 1;
    min-width: 250px;
  }
  
  .project-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #323b4c;
  }
  
  .project-description {
    margin-bottom: 10px;
    color: #333;
  }

  .marquee-container {
    width: 100%;
    overflow: hidden;
    background-color: white;

    padding: 20px 0;
  }
  
  .marquee-track {
    display: flex;
    width: max-content;
    animation: marqueeScroll 50s linear infinite;
  }
  
  .marquee-content {
    display: flex;
    gap: 50px;
    padding-right: 50px;
  }
  
  .skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    min-width: 80px;
    color: #333;
    font-size: 0.9rem;
    font-weight: 500;
  }
  
  .skill-item img {
    height: 40px;
    width: auto;
    transition: transform 0.3s ease;
  }
  
  .skill-item img:hover {
    transform: scale(1.1);
  }
  
  @keyframes marqueeScroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }